@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient {
    @apply h-px overflow-hidden bg-gradient-to-r from-[#0C68F4]/30 via-[#0C68F4]/70 to-[#0C68F4]/30;
  }
}

@layer base {
  h1 {
    @apply font-inter font-medium md:text-[44px];
    @apply text-[24px];
  }
  h2 {
    @apply font-inter font-medium md:text-[40px];
    @apply text-[20px];
  }
  h3 {
    @apply font-inter font-medium md:text-[32px];
    @apply text-[16px];
  }
}

.ant-tabs-nav-list {
  display: flex;
  flex-grow: 1;
  gap: 16px;
}
.ant-tabs-tab {
  flex-grow: 1;
  margin: 0 !important;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
